body{
    background-color: rgb(0, 121, 191);
    margin: 0;
    padding: 0;
}
nav  {
    background-color: #026aa7;
    width: 100%;
    display: inline-block;
    height: 40px;
}
.board {
    display: inline-block;
    width: 33%;
    position: relative;
    left: 15px;
}
#logo {
    display: inline-block;
    width: 33%;
    bottom: 10px;
    
}
.superior-icons{
    display: inline-block;
    width: 13%;
    position: relative;
    left: 16em;
   
}

.superior-icons > p :hover {
    color: midnightblue;
}

#laboratoria {
    font-size: 1em;
    font-weight: bold;
}

.superior-icons > p {
    display: inline-block;
    background-color: #7baad1d1;
    margin: 1px;
    padding: 7px;
    border-radius: 5px;
    position: relative;

}
i {
    color: white;
}
#logo img {
    width: 19%;
    position: relative;
    left: 11em;
    top: 7px;
    opacity: .5;
}

.container {
    display: inline-block;
    width: 50%;
    height: 40px;
}
 

#see-menu {
    left: 149%;
    position: relative;
    bottom: 22px;

}

#see-menu > button {
    left: 65%;
    position: relative;
}

#container-button > button {
    top: 5px;
    position: relative;
    margin: 10px;
    border: none;
    background-color:  rgb(0, 121, 191);
    color:  aliceblue;
}

.search {
    position: relative;
    right: 35px;
    transform: rotateY(180deg);
}

input[type=text]{
    background-color: #7baad1d1;
    border: none;
    border-radius: 3px;
    bottom: 2px;
    display: inline-block;
    height: 29px;
    margin: 0px 5px;
    padding: 0;
    position: relative;
    width: 180px;
}

.box-button {
    display: block;
    width: 15%;
    padding: 5px;
}

.box-button > button {
    background-color: white;
    border-radius: 6%;
    height: 35px;
    opacity: 0.5;
    text-align: center;
    width: 280px;
    border: none;

}

#input-list {
    height: 15px;
    padding: 5px;
    background-color: #026aa7;
}

#hide {
    display: none;

}

#show {
    display: block;

}

.box-form {
    width: 15%;
    background-color:  #e2e4e6;
    opacity: 0.8%;
    border-radius: 6%;
    height: 70px;
    left:10px;
    position: relative;
}

.board > button {
    background-color:  #7baad1d1;
    border: none;
    border-radius: 3px;
    bottom: 2px;
    display: inline-block;
    height: 29px;
    margin: 0px 5px;
    padding: 0;
    position: relative;
    width: 100px;
    color: aliceblue;
}

.contentV2 {
    background-color:  #e2e4e6;
    width: 220px;
    left: 10px;
    position: relative;
    border-radius: 3%;
}

.hide-form {
    display: none;
}

.show-form {
    display: block;
}

.first-box {

}

.board .lupa {
    transform: rotateY(180deg);
    position: relative;
    right: 35px;
}

#addList {
    opacity: 0.8;
    background-color: #026aa7;
    position: relative;
    color: aliceblue;
    text-orientation: initial;
}

#input-list {
    background-color: rgba(0,0,0,.05);
    border: #aaa;
    top: 5px;
}

#guardar {
    top: 8px;
    left: 6px;
    position: relative;
    border: none;
    background-color: #5aac44;
    color: #fff;
    box-shadow: 0 1px 0 #519839;
    width: 70px;
    height: 28px;
}

.close{
    top: 10px;
    position: relative;
    border: none;
    background-color: #e2e4e6;
    left: 10px;
    font-size: 20px;

}

#newContain > p {
    background-color: #e2e4e6;
    width: 230px;
    color:  #333;
    left: 10px;
    position: relative;
    border: none;
    height: 35px;

} 

.add-card {
    border-radius: 0 0 3px 3px;
    color: #838c91;
    background-color: #e2e4e6;
    border: none;
    left: 10px;
    position: relative;
    bottom: 20px;
    width: 230px;
    height: 35px;
    text-decoration: underline;
    text-align: left;


}

textarea {
    width: 180px;
    height: 70px;
    left: 15px;
    position: relative;

}

.contentV2 > p {
    position: relative;
    left: 15px;
    top: 5px;
    line-height: 18px;
    font-weight: 400;
    color: #333;
    font-family: font: 14px Helvetica Neue,Arial,Helvetica,sans-serif;
}

.contentV2 > button {
    border: none;
    position: relative;
    left: 15px;
    margin: 5px;


}

.but-add {
    width: 70px;
    height: 28px;
    background-color:  #5aac44;
    bottom: 7px;

}

.x-close {
    background-color: #e2e4e6;
    width: 30px;
    height: 28px;
    font-size: 1.5em;
    bottom: 5px;
}

#see-menu > button, .s-menu {
    background-color:  rgb(0, 121, 191);
    border: none;
    color:  #fff;
}