body{
    background-color: rgb(0, 121, 191);
    margin: 0;
    padding: 0;
}

nav  {
    background-color: #026aa7;
    display: inline-block;
    height: 40px;
    width: 100%;  
}

.board {
    display: inline-block;
    left: 15px;
    position: relative;
    width: 33%;
}

.board > button {
    background-color:  #7baad1d1;
    border: none;
    border-radius: 3px;
    bottom: 2px;
    color: aliceblue;
    display: inline-block;
    height: 29px;
    margin: 0px 5px;
    padding: 0;
    position: relative;
    width: 100px;   
}

.board .lupa {
    position: relative;
    right: 35px;
    transform: rotateY(180deg);
}

#logo {
    bottom: 10px;
    display: inline-block;
    width: 33%;  
}

#logo img {
    left: 11em;
    opacity: .5;
    position: relative;
    top: 7px;
    width: 19%;
}

i {
    color: white;
}


.superior-icons{
    display: inline-block;
    width: 13%;
    position: relative;
    left: 16em;
   
}

.superior-icons > p :hover {
    color: midnightblue;
}

.superior-icons > p {
    display: inline-block;
    background-color: #7baad1d1;
    margin: 1px;
    padding: 7px;
    border-radius: 5px;
    position: relative;

}

.container {
    display: inline-block;
    height: 40px;
    width: 50%;
    
}

#container-button > button {
    background-color:  rgb(0, 121, 191);
    border: none;
    color:  aliceblue;
    margin: 10px;
    position: relative;
    top: 5px; 
}

#laboratoria {
    font-size: 1em;
    font-weight: bold;
}

#see-menu {
    bottom: 22px;
    left: 149%;
    position: relative;
}


#see-menu > button {
    left: 65%;
    position: relative;
}

#see-menu > button, .s-menu {
    background-color:  rgb(0, 121, 191);
    border: none;
    color:  #fff;
}

.box-button {
    display: block;
    padding: 5px;
    width: 15%;
}

.box-button > button {
    background-color: white;
    border-radius: 6%;
    border: none;
    height: 35px;
    opacity: 0.5;
    text-align: center;
    width: 280px;
}

#addList {
    background-color: #026aa7;
    color: aliceblue;
    opacity: 0.8;
    position: relative;
    text-orientation: initial;
}

.box-form {
    
    background-color:  #e2e4e6;
    border-radius: 6%;
    height: 70px;
    left:10px;
    opacity: 0.8%;
    position: relative;
    width: 15%;
}

input[type=text]{
    background-color: #7baad1d1;
    border: none;
    border-radius: 3px;
    bottom: 2px;
    display: inline-block;
    height: 29px;
    margin: 0px 5px;
    padding: 0;
    position: relative;
    width: 180px;
}


#guardar {
    background-color: #5aac44;
    border: none;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    height: 28px;
    left: 6px;
    position: relative;
    top: 8px;
    width: 70px;
    
}

#input-list {
    background-color: rgba(0,0,0,.05);
    border: #aaa;
    height: 15px;
    padding: 5px;
    top: 5px;
}

.close{
    background-color: #e2e4e6;
    border: none;
    left: 10px;
    font-size: 20px;
    position: relative;
    top: 10px;
}

#newContain > p {
    background-color: #e2e4e6;
    border: none;
    color:  #333;
    left: 10px;
    height: 35px;
    position: relative;
    width: 230px;

} 

#hide {
    display: none;

}

#show {
    display: block;

}


.contentV2 {
    background-color:  #e2e4e6;
    border-radius: 3%;
    left: 10px;
    position: relative;
    width: 220px;
    
}

.contentV2 > p {
    color: #333;
    font-weight: 400;
    font-family: font: 14px Helvetica Neue,Arial,Helvetica,sans-serif;
    left: 15px;
    line-height: 18px;
    position: relative;
    top: 5px;
    

}

.contentV2 > button {
    border: none;
    left: 15px;
    margin: 5px;
    position: relative;

}

.hide-form {
    display: none;
}

.show-form {
    display: block;
}


.add-card {
    background-color: #e2e4e6;
    border: none;
    border-radius: 0 0 3px 3px;
    bottom: 20px;
    color: #838c91;
    left: 10px;
    height: 35px;
    position: relative;
    text-decoration: underline;
    text-align: left;
    width: 230px;
}

textarea {
    height: 70px;
    left: 15px;
    position: relative;
    width: 180px;

}

.but-add {
    background-color:  #5aac44;
    bottom: 7px;
    height: 28px;
    width: 70px;
}

.x-close {
    background-color: #e2e4e6;
    bottom: 5px;
    height: 28px;
    font-size: 1.5em;
    width: 30px;
}

